[access]
	inheritFrom = aaf
[project]
	description = Collection of low level, dependency free classes to enable CADI and Authz. Example: Audit Trail technology, which, allows step by step timing for debugging purposes\n\
\n\
Set to Read-Only as per RT60734
[access "refs/*"]
	read = group GitHub Replication
	owner = group ldap/lf-gerrit-transfer
	pushMerge = group ldap/lf-gerrit-transfer
