[access]
	inheritFrom = All-Projects
[project]
	description = Sandbox-2, just for various testing purposes. Mainly prolog rules together with sandbox-3
[access "refs/*"]
	read = group GitHub Replication
	owner = group ldap/lf-gerrit-transfer
	owner = group saml/lf-gerrit-transfer
	pushMerge = group ldap/lf-gerrit-transfer
	pushMerge = group saml/lf-gerrit-transfer
[access "refs/heads/master"]
	submit = group Release Engineering Team
	label-Code-Review = -2..+2 group Release Engineering Team
	label-Verified = -1..+1 group Release Engineering Team
[plugin "its-jira"]
	enabled = true
